doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/staticData.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG2sPoLvCVaGX6KVUgxF8UGFeEPsfJIVs&callback=initMap")
  body
    block content
