doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/staticData.js')
    script(type="text/javascript" src="/constants/cityPortData.json")
  body
    block content
